body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6ad4fe;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #fe6218;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #fe6218;
}

a {
  color: #fe6218;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.Hubheader {
  background-color: #fe6218;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.Hubcontainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  flex: 2;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h1 {
  margin: 0;
  font-size: 28px;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.event-list {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.edit-profile-btn {
  background-color: #fe6218;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
}

.iconDiv {
  text-align: center;
}

.rounded-circle {
  width: 100px;
  height: 100px;
}